.content
    {position: relative;
    bottom: 200px}

p
    {text-align: center}
#click
    {text-align: center}
div
    {text-align: center;
    }
figcaption
    {text-align: center}
img
{height: 350px;
width: 350px}